input:focus,
textarea:focus {
  outline-width: 0;
}

.volunteers-table {
  border-width: thin;
}

/* .background {
  height: 150vh;
  width: 100%;
  position: absolute;
  z-index: -10;
  margin-top: 20vh;
} */

.table-actions {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.bg-green {
  background-color: #38a169;
}

.bg-red {
  background-color: #e53e3e;
}

.hoverable {
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  position: relative;
}

.hoverable:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.02);
  cursor: pointer;
}
